.click_button {
    height: 42px;
    width: 42px;
    border-radius: 24px;
    background-color: rgba(255,0,0,1);
    cursor: pointer;
  }

  .board td{
    width: 50px;
    height: 50px;
  }

.Connect4-Title {
  text-align: center;
}
  /* Make each piece square - 32x32, set the border-radius to 16px (so that it appears round) and center it using margin-left
  and margin-right: auto */
  .piece {
    height: 16px;
    width: 16px;
    display:block;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

.card-explanation {
}
  /* Empty (no player) will have a light-grey background */
  .empty {
    background-color: #DDDDDD; /* hex colors were used, but rgb/rgba could be used as well */
  }

  /* player 0 will have a red background */
  .player0 {
    background-color: #FF0000;
  }

  /* player 1 will have a blue background */
  .player1 {
    background-color: #0000FF;
  }

  /* set the board square to having a dark-grey border, and to be 36x36 square */
  .board_square {
    border: 1px solid #555555;
    height: 36px;
    width: 36px;
  }
